div{
    background-image: url(src\app\pile-of-delicious-sweets.jpg);
    background-size: cover;
    height: max-content;
    color: ghostwhite;
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border: 0px solid #000000;
}