<h1>Bienvenido nuevamente, por favor ingresa tus datos para iniciar sesion 😏</h1>

<form [formGroup]="myForm" (ngSubmit)="login()">
    <div>
        <div>
            <label>Email: </label>
            <input type="email" formControlName="email" placeholder="Ej: abcd@hotmail.com">
        </div>
        <span [ngClass]="{error: myForm.get('email').errors && myForm.get('email').dirty}">
        <p class="errores" *ngIf="myForm.get('email').hasError('required') && myForm.get('email').dirty">El email es obligatorio</p>
        </span>

        <div>
            <label>Contraseña: </label>
            <input type="password" formControlName="password" placeholder="Ej: Contraseña123">
        </div>
        <div [ngClass]="{error: myForm.get('password').errors && myForm.get('password').dirty}">
        <p *ngIf="myForm.get('password').hasError('required') && myForm.get('password').dirty">La contraseña es obligatoria</p>
        </div>
        
        <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Ingresar</button>
    </div>
</form>