div{
    width: max-content;
    padding-bottom: 1%;
    padding-left: 1%;
    border: grey 5px solid;
    padding-left: 0px;
    padding-right: 5px;
    margin: 30px
}

a{
    margin-left: 40%;
}
ol {
    margin-left: 5%;
}